bootstrap/cache/
bower_components/
node_modules/
public/build/
vendor/
database/seeds/AdministratorsTableSeeder.php
database/seeds/MembersTableSeeder.php
database/seeds/ProfilesTableSeeder.php
database/seeds/EmployeesTableSeeder.php
.env
.env.example
artisan
composer.lock
TatCoop.*
