.login-page {
    background: #4a90a9;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.img-responsive {
    border: 3px solid #fafafa;
    margin: 0 auto;
}

.login-box-body {
	border-radius: 5px;
    background: rgba(242, 242, 242, 0.7);
}

.login-logo > a {
    color: #f2f2f2;
}

.login-box-body .login-logo {
    font-size: 24px;
    text-align: center;
}

.alert {
    margin-top: 10px;
    margin-bottom: 10px;
}

.alert > p,
.alert > ul {
    padding-left: 10px;
}

.alert-dismissable,
.alert-dismissible {
    padding-right: 15px;
}

.alert-dismissable .close,
.alert-dismissible .close {
    right: 0;
}

header {
    width: 100%;
    height: 3px;
    position: fixed;
    top: 0;
    background: rgba(3, 3, 3, 0.7);
}

footer {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    background: rgba(3, 3, 3, 0.7);
}

.selector {
    position: fixed;
    bottom: 50px;
    right: 10px;
}

.selector button {
    margin: 0 3px;
    background: rgba(3, 3, 3, 0.7);
    border: none;
}

.selector .btn {
    color: #3c8dbc;
    background: rgba(3, 3, 3, 0.7);
}

.selector .btn:active,
.selector .btn:focus,
.selector .btn:hover {
    color: #72afd2;
}

.credit {
    margin: 10px 0;
    padding: 0 10px;
}

.modal-content {
    border-radius: 6px;
}
